DATABASE_URL="postgresql://user:password@localhost:5432/healthcare_management"
NODE_ENV=development
JWT_SECRET=MY_SECRET_KEY
B2_APPLICATION_KEY_ID=tu_key_id_aquí
B2_APPLICATION_KEY=tu_app_key_aquí
B2_BUCKET_ID=tu_bucket_id_aquí
