<mat-tab-group>
  <mat-tab label="prescriptions">
    <app-generic-prescription-table
      [fetchFn]="fetchFn"
      [mapFn]="mapFn"
      [actions]="prescActions"
    ></app-generic-prescription-table>
  </mat-tab>

  <mat-tab label="Medications">
    <app-generic-prescription-table
      [fetchFn]="fetchFn"
      [mapFn]="mapFn"
      [actions]="medActions"
    ></app-generic-prescription-table>
  </mat-tab>

  <mat-tab label="Create appointment">
    <app-generic-prescription-table
      [fetchFn]="fetchFn"
      [mapFn]="mapFn"
      [actions]="apptActions"
    ></app-generic-prescription-table>
  </mat-tab>

  <mat-tab label="Notifications">
    <app-notifications></app-notifications>
  </mat-tab>

  
  <mat-tab label="Appointments">
    <app-generic-appointment-table
      [fetchFn]="fetchAppointmentsFn"
      [mapFn]="mapAppointmentsFn"
      [actions]="appointmentActions"
    ></app-generic-appointment-table>
  </mat-tab>
  


</mat-tab-group>

<!-- Modales -->
<app-add-medication-modal
  [visible]="showAddMedModal"
  (close)="onAddMedClose()"
  (save)="onAddMedSave($event)"
></app-add-medication-modal>

<app-view-items-modal
  [visible]="showItemsModal"
  [items]="itemsToShow"
  (close)="showItemsModal = false"
></app-view-items-modal>

<app-create-appointment-modal
  [visible]="showCreateModal"
  (close)="onCreateModalClose()"
  (save)="onCreateAppointment($event)"
></app-create-appointment-modal>

